.container2
{
    
    height:900px;
    width:100%;
   
   background-color: rgb(245, 243, 243);
    
}
.container3
{
    width: 100%;
    background-color: white;
    height: 780px;
    border-radius: 20px;

}

.loginimg
{
   
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url('src\assets\signup.jpg');
    background-size: cover;
}
.login
{
height: 100%;
border-top-right-radius:20px ;
border-bottom-right-radius: 20px;
padding-left:10px;
}
.logindiv
{
    width:55%;
    border:rgb(221, 217, 217) solid 1px;
    border-radius: 5px;
}
p{
    font-size:12px;
   
}
label{
    font-size:14px;
}

::placeholder
{
    color: rgb(175, 173, 173);
    font-size: 0.9rem;
}
